.filters {
  width: 208px;
  flex-shrink: 0;
  margin-right: 32px;
}

.title {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 30px;
}

.button {
  width: 120px;
  min-height: 30px;
  min-width: max-content;
  margin-top: 40px;
  text-transform: uppercase;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 14px;

  input {
    width: 84px;
    text-align: center;
  }

  .divider {
    width: 14px;
    height: 1px;
    background-color: var(--color-secondary-hover);
  }
}
