.filters {
  width: 208px;
  flex-shrink: 0;
  margin-right: 2%;
}

.title {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 0;
}

.button {
  width: 120px;
  min-height: 30px;
  min-width: max-content;
  margin-top: 40px;
  text-transform: uppercase;
}
