:root {
  --color-primary-black: #000000;
  --color-primary-white: #ffffff;
  --color-bg-light: #DDDADA;
  --color-bg-dark: #3F3F3F;
  --color-accented: #E27F00;
  --color-accented-hover: #FFA839;
  --color-accented-active: #DA8B26;
  --color-star: #FFD168;
  --color-secondary: #C1C1C1;
  --color-secondary-hover: #585757;
  --color-secondary-active: #9F9E9E;
  --color-secondary-disabled: #f7f3f3;
  --color-link-hover: #474747;
  --color-link-active: RGBA(71, 71, 71, 0.5);
  --color-red: #F20505;

  --max-desktop-width: 1020px;
  --min-desktop-width: 1000px;
  --max-tablet-width: 999px;
  --min-tablet-width: 768px;
  --max-mobile-width: 767px;
  --min-mobile-width: 320px;

  --default-transition-settings: 0.3s ease;
  --modal-transition-settings: 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}
