.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.item {
  a {
    padding: 0 5px;
  }

  a[href] {
    transition: color var(--default-transition-settings),
      opacity var(--default-transition-settings);

    &:hover,
    &:active {
      color: var(--color-accented);
      outline: none;
    }

    &:active {
      opacity: 0.7;
    }
  }
}
