.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
}

.title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.02em;
  font-weight: 700;
  color: var(--color-link-hover);
}

.close-btn {
  position: absolute;
  top: -9px;
  right: -30px;
  width: 18px;
  height: 18px;
  padding: 0;
  z-index: 5;
  transition: all var(--default-transition-settings);
  color: var(--color-secondary);

  &:hover,
  &:focus {
    color: var(--color-secondary-hover);
  }

  &:active {
    color: var(--color-secondary-active);
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
