.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.list_column {
  flex-direction: column;
  padding-left: 0;
  align-items: flex-start;
}

.item {
  a,
  p {
    padding: 0 5px;
  }

  a[href] {
    display: inline-block;
    margin: 5px 0;
    transition: color var(--default-transition-settings);

    &:hover,
    &:active {
      color: var(--color-link-hover);
      outline: none;
    }

    &:active {
      color: var(--color-link-active);
    }
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}
